.select {
  color: white;
  outline: none !important;

  &-group {
    display: flex;
    align-items: center;
    margin: 0 auto;

    &-text {
      margin: 0 .5rem 0 .5rem;
      white-space: nowrap;
      text-overflow: ellipsis;
      // width: 7.5rem;
      // max-width: 7.5rem;
      // min-width: 7.5rem;
      overflow: hidden;
      text-align: center;
      cursor: pointer;

      &__focused {
        // background-color: blue;
        // font-weight: bold;
      }

      &-inner {
        display: flex;
        align-items: center;
        margin: 0 auto;
        transform: translateX(0%);
        transition: transform .2s ease-in-out;

        &-option {
          // width: 7.5rem;
          // min-width: 7.5rem;
          // max-width: 7.5rem;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }
    }

    &-button {
      // Fix issue on Android where iframe is blue on exit
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      border: 0;
      padding: .2rem;
      line-height: 1rem;
      border-radius: .5rem;
      color: white;
      cursor: pointer;
      outline: none;
      overflow: hidden;
      opacity: .7;
      background-color: #292929;
      // background-color: transparent;
      // border: .2rem solid transparent;

      &-img {
        width: 2.2rem;
        height: 2.2rem;

        &__disabled {
          opacity: .4;
        }
      }

      &__focused {
        background-color: red;
        // box-shadow: 0 0 .6rem #aaa;
        // outline: none !important;
        // border: .2rem solid red;
      }

      &:focus {
        // background-color: #292929;
        // transition: 0.5s;
        // opacity: .8;
        // outline: none;
        // box-shadow: none;
      }

      @media (hover) {
        &:hover {
          // outline: none;
          // background-color: #292929;
          opacity: 1;
          transition: 0.5s;
          transform: scale(1.2);
        }

        &:hover:focus {
          opacity: 1;
          // background-color: #191919;
        }
      }

      &__disabled {
        @media (hover) {
          &:hover {
            // outline: none;
            // background-color: #292929;
            cursor: default;
            opacity: .7;
            transition: 0;
            transform: scale(1);
          }

          &:hover:focus {
            opacity: .7;
            // background-color: #191919;
          }
        }
      }

      &:active {
        outline: none;
      }
    }
  }
}
