.overlay-screen {
  position: absolute;
  display: flex;
  z-index: 49;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  align-items: center;
  pointer-events: none;
  // border: 10px solid red;

  &-inner {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    max-width: 1920px;
    margin: 0 auto;
    position: relative;
    // border: 5px solid blue;

    &-unmute {
      padding: 2rem;

      &-button {
        margin: 0;
        padding: .6rem 1rem;
        display: flex;
        align-items: center;
        font-size: 1.8rem;
        line-height: 2rem;
        border-radius: .25rem;
        border: transparent;
        background-color: white;
        color: black;
        white-space: nowrap;
        cursor: pointer;
        outline: none;

        &-img {
          width: 2rem;
          height: 2rem;
        }

        &-label {
          overflow: hidden;
          opacity: 1;
          max-width: 20em;
          transition: opacity .5s, max-width .75s ease-out;

          &-inner {
            padding-left: 0.5rem;
          }
        }

        &-label--hide {
          opacity: 0 !important;
          max-width: 0 !important;
        }
      }
    }
  }
}



